<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <h2>{{ producto.nombre }}</h2>
                <p>{{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>
                <form action="{{ url_for('add_to_cart', producto_id=producto.id) }}" method="post">
                    <input type="number" name="cantidad" value="1" min="1">
                    <button type="submit">Añadir al carrito</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}" class="btn btn-primary">Volver a la página principal</a>
</body>
</html>